.entities {
  position: relative;
  display: flex;
  justify-content: flex-end;

  margin-right: 30px;
}

.entities__heading {
  position: absolute;
  top: -30px;
  right: 90px;
  font-size: 20px;
  font-weight: 700;
}

.entities__image-wrapper {
  position: absolute;
  top: -100px;
  right: calc(50% - 85px);
}

.entities__image {
  width: 119px;
  height: 67px;
}

.entities__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 300px);

  border: 2px solid blue;
  border-radius: 20px;
  width: 550px;
}

.entities__link {
  width: max-content;
  display: block;
  padding: 10px;
}

