.entity__info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 450px;
  margin-left: 30px;
  padding: 10px;
}

.entity__heading {
  margin-bottom: 20px;
  color: #deb887;
}

.entity__list {
  align-self: flex-start;
}

.entity__item:not(:last-child) {
  margin-bottom: 10px;
}

.entity__title {
  margin-right: 10px;

  font-size: 16px;
  font-weight: bold;
  color: #a52a2a;
}
